body {
    background-color: var(--green-100);
    margin: 0px;
    padding: 0px;
    font-family: 'FiraSans-Regular', sans-serif;
} 

.header {
    width: 100%;
    height: 500px;
    margin-bottom: 50px;
}

.header img {
    height: 500px;
    width: 100%;
    object-fit: cover;
}

.content {
    width: 90%;
    max-width: 800px;
    margin: 0 auto;
}